.my-background{
    -fx-background-color: #efc9f4;
}

.my-title-view{
    -fx-text-fill: #4e235b;
    -fx-font-size: 26;
    -fx-font-weight: bold;
}

.title_background{
    -fx-background-color: #fef8ff;
    -fx-background-radius: 30;
    -fx-border-color: #efa9ff;
    -fx-border-radius: 30;
}

.main_background{
    -fx-background-color: #fef8ff;
    -fx-background-radius: 30;
    -fx-border-color: #efa9ff;
    -fx-border-radius: 30;
}

.btn_main{
    -fx-background-color: #ee85f5;
    -fx-background-radius: 30;
    -fx-border-color: #e86ef1;
    -fx-border-radius: 30;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
.btn_main:hover{
    -fx-background-color: #9446cd;
    -fx-background-radius: 30;
    -fx-cursor: hand;
}

.btn_main_Smaller{
    -fx-background-color: #ee85f5;
    -fx-background-radius: 30;
    -fx-border-color: #e86ef1;
    -fx-border-radius: 30;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
.btn_main_Smaller:hover{
    -fx-background-color: #9446cd;
    -fx-background-radius: 30;
    -fx-cursor: hand;
}
.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 5.0, 0.0, 0.0, 5.0);
}

.my_text_field{
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-color: #efa9ff;
    -fx-border-radius: 30;

}

.text-field.Error {
    -fx-border-color: #ea7474;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-background-color: #FFECEC;
}

.text-field.Error:focused {
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 5.0, 0.0, 0.0, 5.0);
}

.list-view{
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-text-overrun: true;
}

.list-view .list-cell{
    -fx-text-fill: #4e235b;
    -fx-font-size: 12;
}






























